.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
}

.box {
    border: 1px solid black;
}

button {
    margin-bottom: 30px;
    padding: 10px;
}